@font-face {
    font-family: 'roboto';
    src: url('./../fonts/roboto.woff2') format('woff2'),
         url('./../fonts/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./../fonts/roboto-b.woff2') format('woff2'),
         url('./../fonts/roboto-b.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./../fonts/roboto-i.woff2') format('woff2'),
         url('./../fonts/roboto-i.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}